/* DecreaseSector.module.css */

.hotsector {
    text-align: center;
    margin: auto 20%;
  }

  .topgroup {
    display: flex;
    align-items: center; /* Optional: Center content vertically */
  }

  .topgroup h2 {
    margin-bottom: 2px;
  }

  .topgroup p {
    margin-bottom: 2px;
    margin-left: 280px;
  }

  
  .line {
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .rectangle {
    width: 350px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    position: relative;
  }
  
  .rectangle img {
    max-width: 100%;
    height: auto;
  }
  
  .timegroup {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
  }

  .bottomgroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .moreinfo {
    cursor: pointer;
    color: #007bff;
    margin-top: 9px;
  }
  
  .moreinfo:hover {
    text-decoration: underline;
  }
  