/* QuestionTerm.module.css */

.questionContainer {
  border: 2px solid #ccc;
  width: 420px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 20px;
}

p {
  margin: 9px; 
  font-size: 1em; 
}