.side-nav {
    position: fixed; /* 고정 위치 */
    top: 30%; /* 화면의 상단에서 시작 */
    left: 7%; /* 화면의 왼쪽에서 시작 */
    width: ; /* 너비는 원하는대로 조정 */
    background-color: #f0f0f0; /* 배경색 */
    overflow-y: auto; /* 내용이 넘치면 스크롤 표시 */
}


.side-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* 세로로 배치 */
    gap: 10px;
}

.side-nav li {
    padding: 10px;
    text-align: center; /* 텍스트를 중앙에 위치 */
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.side-nav li:hover {
    background-color: #d9d9d9; /* 호버 시 색상 */
}

.side-nav .active {
    background-color: #555; /* 선택된 메뉴 항목의 배경색 */
    color: white; /* 선택된 메뉴 항목의 글씨색 */
}
