/* CompanyInfoSector.module.css */

/* .company-info {
    text-align: center;
    margin: 20px;
  }
  
  .icon-group {
    margin-top: 10px;
  }
  
  .plus-icon {
    width: 30px;
    height: 30px;
  }
  
  .line {
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .rectangle {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
  }
  
  .info-image {
    max-width: 100%;
    height: auto;
  } */
  