/* TopTransactionStock.module.css */

.popularsector {
    text-align: center;
    margin: auto 38%;
    margin-left: 3em;
  }

  .topgroup {
    display: flex;
    align-items: center; /* Optional: Center content vertically */
    font-size: 0.8em;
    white-space: nowrap;
    margin-bottom: 0.5em;
  }

  .topgroup h2 {
    margin-bottom: 0.13em;
  }

  .topgroup p {
    margin-bottom: 0.13em;
    margin-left: 16em;
  }
  
  .line {
    border: 1px solid black;
    margin-bottom: 1em;
  }

  .topthinline {
    border: 1px solid #ccc;
    /* margin-bottom: 0.5em; */
  }

  .bottomthinline {
    border: 1px solid #ccc;
    margin-bottom: 0.5em;
  }

  .rectangle {
    display: flex;
    justify-content: space-between;
    padding: 0.005em;
    /* margin-top: -1em; */
    background-color: #f0f0f0;
    /* margin-right: 2.5em;
    width: 27.8em; */
  }

  .rectangle p {
    flex: 1;
    text-align: center;
  }

  .rectangle p:nth-child(2) {
    text-align: left; /* Adjust the text alignment as needed */
}

.rectangle p:nth-child(1) {
  margin-left: -1em; /* Adjust as needed */
}

.rectangle p:nth-child(2) {
  margin-left: 0.8em; /* Adjust as needed */
}

.rectangle p:nth-child(3) {
  margin-left: -3.5em; /* Adjust as needed */
}

  
  /* .rectangle {
    width: 350px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    position: relative;
  } */
  



  