/* Interested.module.css */

.interested {
    text-align: center;
    margin: auto 20%;
  }

  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: center;
    align-items: center;
  }
  
  .line {
    border: 1px solid #ccc;
    margin-top: -15px;
    margin-bottom: 10px;
  }
  
  .rectanglegroup {
    display: flex;
    justify-content: space-around;
  }
  
  .rectangle {
    width: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-right: 5px;
  }
  
  .infogroup {
    margin-top: 10px;
  }
  
  .infogroup img {
    max-width: 100%;
    height: auto;
  }
  
  .disclaimer {
    color: #888;
    margin-top: 20px;
  }

  .topcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .topcontainer h3 {
    margin-right: 15px;
  }

  