/* Interested.module.css */

/* .interested {
    text-align: center;
    margin: 20px;
  }
  
  .line {
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .rectangle-group {
    display: flex;
    justify-content: space-around;
  }
  
  .rectangle {
    width: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .info-group {
    margin-top: 10px;
  }
  
  .info-group img {
    max-width: 100%;
    height: auto;
  }
  
  .disclaimer {
    color: #888;
    margin-top: 20px;
  } */
  