.container{
    margin: 0% 25% ; /* Adjusted from 18% to 10% for a wider content area */
}
.component-header {
    display: flex;
    margin: 1% 0% 1% 1%;
    color: rgb(74, 140, 216); /* 파란색으로 설정 */
    border-bottom: 1px silver solid;
    font-weight: bold;
}
.component-header h2{
    margin-right: 1%;
}
.component-header p{
    margin-top: 3%;
}
