.securities-reports {
    padding: 2%;
}

.report {
    border-bottom: 1px solid #e1e1e1;
    padding: 0.5%;
    margin: 3% 1%;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.report:hover {
    background-color: #f9f9f9;
}

.title {
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 0;
}

.company {
    font-size: 1.1rem;
    color: #555;
}
