/* RecommendStockItem.module.css */

.stockItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid #ccc; */
    padding: 10px;
    margin: 5px;
    width: 120%;
    margin-left: -70px;
    }

    .stockItem p {
        width: 25%;
      }

  