/* RecommendStockItem.module.css */

.stockItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid #ccc; */
    padding: 0.005em;
    margin: 0.3em 0;
    width: 120%;
    margin-left: -4.5em;
    }

    .stockItem p {
      width: 40%;
      white-space: nowrap;
      margin: 0.7em;
      }
      .stockItem p:nth-child(2):hover,
      .stockItem p:nth-child(3):hover {
  text-decoration: underline; /* Add underline on hover */
  cursor: pointer; /* Change cursor on hover */
}



      .stockItem p:first-child {
        width: 25%; /* Adjust width as needed */
        text-align: right; /* Align the text to the right */
      }
      
      .stockItem p:nth-child(2) {
        width: 1%; /* Adjust width as needed */
        text-align: center; /* Align the text to the right */
        margin-left: 2em;
      }
      
      .stockItem p:last-child {
        width: 40%; /* Adjust width as needed */
        text-align: center; /* Align the text to the left */
      }
      

  