/* NowPopularStock.module.css */

.popularsector {
    text-align: center;
    margin: auto 38%;
    margin-left: 3em;
    margin-top: 3em;
  }

  .topgroup {
    display: flex;
    align-items: center; /* Optional: Center content vertically */
    font-size: 0.8em;
    white-space: nowrap;
    margin-bottom: 0.5em;
  }

  .topgroup h2 {
    margin-bottom: 0.13em;
  }

  .topgroup p {
    margin-bottom: 0.13em;
    margin-left: 11.5em;
  }
  
  .line {
    border: 1px solid black;
    margin-bottom: 1em;
  }

  .topthinline {
    border: 1px solid #ccc;
    /* margin-bottom: 0.5em; */
  }

  .bottomthinline {
    border: 1px solid #ccc;
    margin-bottom: 0.5em;
  }

  .rectangle {
    display: flex;
    justify-content: space-between;
    padding: 0.005em; /* Adjust padding as needed */
    /* margin-top: -1em; */
    background-color: #f0f0f0;
    height: 3.4em;
  }

  

  .rectangle p {
    flex: 1;
    text-align: center;
    white-space: nowrap;
  }

  .rectangle p:nth-child(2) {
    text-align: left;
    padding-left: 2.5em; /* Add padding for spacing */
  }

  .rectangle p:nth-child(3) {
    padding-right: 1em;
  }


  
  /* .rectangle {
    width: 350px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    position: relative;
  } */
  



  