.container {
    margin: auto 20%;
}

.term {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px silver solid;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 20px;
}


.termHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ecf0f1;
    border-bottom: 1px silver solid;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.contentHeader {
    justify-content: space-between;
}

.checkbox-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-item input[type="checkbox"] {
    margin-right: 10px;
}
