/* MarketTrend.module.css */
.market-trends {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px silver solid;

}


.component-header {
    display: flex;
    justify-content: space-between; /* h2와 p를 나란히 배치 */
    align-items: center;
    color: blue; /* 버팔색으로 설정 */
}

.placeholder-table{
    width: 90%;
    height: 90%;
    border: 3px silver solid;



}




.trends-table th, .trends-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.more-trends {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
}
