/* IncreaseSector.module.css */

/* .increase-sector {
    text-align: center;
    margin: 20px;
  }
  
  .line {
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .rectangle {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    position: relative;
  }
  
  .rectangle img {
    max-width: 100%;
    height: auto;
  }
  
  .time-group {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
  }
  
  .more-info {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #007bff;
  }
  
  .more-info:hover {
    text-decoration: underline;
  }
   */