/* NowStockSector.css */

.nowstocksector {
    text-align: center;
    margin: auto 16%;
  }

  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: center;
    align-items: center;
  }

  .container h2 {
    font-size: 1.2em;
  }

  .timegroup {
    margin-bottom: 10px;
  }
  
  .line {
    margin-top: -10px;
    border: 1px solid #ccc;
  }
  
  .rectanglegroup {
    display: flex;
    justify-content: space-around;
    margin-top: 0.63em;
  }
  
  .rectangle {
    width: 20em;
    height: 14em;
    padding: 0.63em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    margin-bottom: 0.63em;
  }
  
  .chartgroup {
    margin-top: 0.63em;
  }

  .topcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hide {
    display: none;
    }

    
  

  
  
  
  
  
  
  