/* NowStockSector.css */

.nowstocksector {
    text-align: center;
    margin: auto 20%;
  }

  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: center;
    align-items: center;
  }

  .container h2 {
    font-size: 1.2em;
  }

  .timegroup {
    margin-bottom: 0.63em;
  }
  
  .line {
    margin-top: -0.63em;
    border: 1px solid black;
  }
  
  .rectanglegroup {
    display: flex;
    justify-content: space-around;
    margin-top: 0.63em;
  }
  
  .rectangle {
    width: 20em;
    height: 14em;
    padding: 0.63em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    margin-bottom: 0.63em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    /* background: #262931; */
  }

  .rectangle:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Increase the shadow on hover */
    background-color: #f2f2f2; /* Darken the background color on hover */
    transform: scale(1.02);
  }
  
  .chartgroup {
    margin-top: 0.63em;
  }

  .topcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
  }

  .topcontainer h3 {
    margin-left: 1em;
    font-size: 1.2em;
    /* color: white; */
  }

  .topcontainer button {
    margin-right:1em;
  }

  .hide {
    display: none;
    }

    /* Add spacing between rectangles */
.rectanglegroup .rectangle {
  margin-right: 0.63em; /* Adjust the margin value for the desired spacing */
}

/* Ensure the last rectangle doesn't have right margin */
.rectanglegroup .rectangle:last-child {
  margin-right: 0;
}

.stockInfo {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 0.05em; 
  border-radius: 0.5em; /* Add border-radius for rounded corners */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  height: 5.7em;
}

  

    
  

  
  
  
  
  
  
  