/* PopularStockItem.module.css */
.popularStockItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid #ccc; */
  padding: 10px;
  margin: 5px;
}

.popularStockItem p {
  margin: 0; /* Remove default paragraph margin */
}

