.container {
    text-align: center;
    margin: auto 20%;
  }

  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -1em;
  }

  .headerContainer h2 {
    font-size: 1.2em;
  }
  .headerContainer p {
    font-size: 0.8em;
  }
  
  .themeContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: -3em; /* Adjust the left margin to move the entire group to the left */
  }
  
  .arrow {
    font-size: 24px;
    cursor: pointer;
    margin: 0 5px;
  }
  
  .item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: 14em;
    height: 10em;
}
  
  
  .themeItems {
    display: flex;
    gap: 5px; /* Adjust the gap to control the spacing between theme items */
  }
  
  .nameCodeContainer {
    display: flex; /* Add this line to make it a flex container */
  }

  .nameCodeContainer h3 {
    margin-left: 1.2em;
    font-size: 1.1em;
  }

  .nameCodeContainer p {
    margin-left: 2em;
    margin-top: 1.2em;
  }

  .priceChangeRateContainer {
    display: flex; /* Add this line to make it a flex container */
    margin-left: 1.3em;
  }

  .priceContainer p{
    margin-top: -0.8em;
  }

  .changeRateContainer {
    color: white;
    padding: 4px;
    border-radius: 4px;
    margin-left: 3em;
    height: 2.7em;
    width: 3em;
    margin-top: 1.2em;
  }

  .changeRateContainer p {
    margin-top: 0.6em;
  }
  
  .positive {
    color: blue;
  }
  
  .negative {
    color: red;
  }
  /* Add any additional styles here */
  