.side-nav {
  position: fixed;
  left: 7%;
  height: 25vh;  /* 기존의 높이 지정 */
  background-color: #f0f0f0;
  overflow-y: auto;
  transition: transform 0.3s, height 0.3s; /* 높이 변경에 대한 전환 효과 추가 */
  border-radius: 5%;
  box-shadow: 0 4px 6px rgba(0, 0, 0.3, 0.3);
  transform: translateY(0);
  animation: float 3s infinite;

}


@keyframes float {
  0% {
      transform: translateY(0px);
  }
  50% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(0px);
  }
}
.side-navClosed {
  overflow: hidden;  /* 내용을 숨김 */
  transform: translateY(100%);  /* SideNav의 높이만큼 아래로 이동 */
  visibility: hidden; /* 요소를 숨김 */
  pointer-events: none; 
}

.side-nav ul {
  list-style: none;
  width: 7vw;
  height: 25vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.side-nav li {
  padding: 5%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
  font-size: 0.7rem;
  font-weight: bold;
}

.side-nav li:hover {
  background-color: #d9d9d9;
}

.side-nav .active {
  background-color: #555;
  color: white;
}

.sideNav_button {
  width: 7vw;
  height: 5vh;
  position: fixed;
  padding: 1%;
  left: 7%;
  top: 88%;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0.3, 0.3);
  font-size: 0.8rem;
  font-weight: bold;

}

.sideNav_button:hover {
  background-color: #d9d9d9;
}
