/* SideNav.module.css */

.sidenav {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  flex-direction: column;
  padding: 10px;
  width:120px;
}

.navitem {
  cursor: pointer;
  margin-bottom: 5px;
  border-radius: 8px;
  padding: 8px;
  font-size: 14px; 
  transition: background-color 0.3s, color 0.3s; 
  transition: color 0.3s; 
}

.navitem:hover {
  background-color: #ddd;
}