/* SideNav.module.css */

/* .side-nav {
    background-color: #007bff;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
  }
  
  .side-nav-item {
    padding: 10px;
    margin: 10px 0;
    background-color: #0056b3;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .side-nav-item:hover {
    background-color: #004080;
  } */