.stockItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid #ccc; */
    padding: 0.63em;
    margin: 0.31em;
    width: 110%;
    margin-left: -2.3em;
    }
    .stockItem p {
        width: 20%;
        white-space: nowrap;
      }

      .stockItem p:first-child {
        width: 25%; /* Adjust width as needed */
        text-align: center; /* Align the text to the right */
      }

      .stockItem p:nth-child(2) {
        margin-right: 1em;
        text-align: center; /* Align the text to the right */
      }

      .stockItem p:last-child {
        width: 16%; /* Adjust width as needed */
        text-align: left; /* Align the text to the left */
      }

      .red {
        color: red; /* Set background color to red for negative revenue_rate */
      }
      
      .blue {
        color: blue; /* Set background color to blue for positive revenue_rate */
      }
    
      .stockContainer h3 {
        color: black; /* Set the color to black or your preferred color */
      }
      
      /* Add styling for the rate container based on the color class */
      .red .rate {
        background-color: red;
        color: white;
      }
      
      .blue .rate {
        background-color: blue;
        color: white;
      }