/* Finance.module.css */
.finance {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px silver solid;
}

.component-header {
    display: flex;
    justify-content: space-between; /* h2와 p를 나란히 배치 */
    align-items: center;
    color: blue; /* 버팔색으로 설정 */
}

.tabs {
    display: flex;
    gap: 10px;
}

.tabs button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    background-color: #eee; /* Default background */
    color: black;
}

.tabs button.active {
    background-color: #666; /* Active tab background */
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
}
.ai-report {
    width: 90%;
    height: 50%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    border: 3px silver solid;

}



.textarea-container {
    display: flex; /* textarea와 이미지를 나란히 배치 */
    gap: 10px; /* 여백 */
}

.ai-image {
    width: 30%; /* 이미지의 크기 */
    height: auto;
    border: 1px solid #ccc; /* 이미지 경계 */
}

textarea {
    flex: 1; /* 가능한 모든 공간 차지 */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}
