.finance {
    padding: 2%;
}

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 2%;
}
.tabs-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.tabs button {
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;

    background-color: #e0e0e0; /* 연한 회색 배경 */
    color: black; /* 기본 글씨 색을 검은색으로 설정 */
    border: none; /* 테두리 제거 */
    padding: 10px 15px; /* 버튼 패딩 설정 */
    cursor: pointer; /* 마우스 포인터를 손가락 모양으로 설정 */
    transition: background-color 0.3s, color 0.3s; /* 배경 색과 글씨 색 변화 효과 */
}

.tabs button:hover {
    background-color: #555; /* 마우스 오버 시 회색 배경 */
    color: white; /* 마우스 오버 시 흰색 글씨 */
}

.tabs button.active {
    background-color: #333; /* 진한 회색 배경 */
    color: white; /* 흰색 글씨 */
}

.sub-tabs {
    
    display: flex;
    gap: 10px;
}


.sub-tabs button {
    font-size: 1rem;
    font-weight: bold;
    background-color: #e0e0e0; /* 연한 회색 배경 */
    color: black; /* 기본 글씨 색을 검은색으로 설정 */
    border: none; /* 테두리 제거 */
    padding: 10px 15px; /* 버튼 패딩 설정 */
    cursor: pointer; /* 마우스 포인터를 손가락 모양으로 설정 */
    transition: background-color 0.3s, color 0.3s; /* 배경 색과 글씨 색 변화 효과 */
}

.sub-tabs button:hover {
    background-color: #555; /* 마우스 오버 시 회색 배경 */
    color: white; /* 마우스 오버 시 흰색 글씨 */
}

.sub-tabs button.active {
    background-color: #333; /* 진한 회색 배경 */
    color: white; /* 흰색 글씨 */
}

.active, .mainActive {
    display: flex;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #e0e0e0;
    padding: 10px;
}
.ai-report {
    width: 95%;
    height: 50%;
    margin:  auto;
    display: flex;
    flex-direction: column;

}



.textarea-container {
    display: flex; /* textarea와 이미지를 나란히 배치 */
    gap: 3%; /* 여백 */
}

.ai-image {
    width: 20%; /* 이미지의 크기 */
    border: 2px solid rgb(147, 164, 171); /* 이미지 경계 */
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0.3, 0.3);


    
}

textarea {
    flex: 1; /* 가능한 모든 공간 차지 */
    padding:2%;
    background-color: rgb(224, 230, 234);
    border: 2px solid rgb(170, 193, 201); /* 이미지 경계 */
    border-radius: 10px;
    resize: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0.3, 0.3);
}
