/* CompanyInfoSector.module.css */

.marketissue {
    text-align: center;
    margin: auto 20%;
  }
  
  .icongroup {
    margin-top: 10px;
    margin-left: 60px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -25px;
  }
  
  .line {
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .rectangle {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    position: relative;
  }


  
  