/* TopTransactionStock.module.css */

.popularsector {
  text-align: center;
  margin: auto 20%;
  /* margin-left: 16em;
  margin-bottom: 1em;
  margin-top: 2em;
  margin-right: 5em; */
}

.topgroup {
  display: flex;
  align-items: center; /* Optional: Center content vertically */
  font-size: 0.8em;
  white-space: nowrap;
  margin-bottom: 0.8em;
}

.topgroup h2 {
  margin-bottom: 0.13px;
}

.topgroup p {
  margin-bottom: 0.13px;
  margin-left: 18.75em;
}

.line {
  border: 1px solid #ccc;
  margin-bottom: 0.63em;
}

.rectangle {
  display: flex;
  justify-content: space-between;
  padding: 10px; /* Adjust padding as needed */
}


/* .rectangle {
  width: 350px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
  position: relative;
} */




