.Chat,
.ChatOpen {
    position: fixed;
    top: 27%;
    right: 1%;
    height: 70vh;
    width: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: width 0.3s;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0.3, 0.3);

}

.ChatOpen {
    width: 17vw;
}
.toggleButton {
    position: absolute; /* 절대 위치 */
    left: -1.5vw; /* 버튼을 채팅창 왼쪽으로 이동 */
    top: 20%; /* 버튼을 채팅창 중앙에 위치 */
    transform: translateY(-50%); 
    background-color: #aed0ea;
    border: none;
    width: 1vw;
    height: 6vh;
    padding: 1%;
    cursor: pointer;
    border-radius: 10px 0 0 10px;
    transition: background-color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0.3, 0.3);
    animation: float 3s infinite;

}



@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.toggleButton:hover {
    background-color: #d9d9d9;
}

.chatBox {
    width: 100%;
    height: 90vh;
    background-color: rgb(189, 212, 238);
    border: rgb(232, 248, 253) 1px solid;
    border-radius: 20px ;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 6px 8px rgba(0, 0, 0.3, 0.3);

    
}

.messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.userMessage,
.aiMessage {
    display: flex;
    margin: 2% 2%;
    align-items: center;
    font-size: 0.8rem;
}

.userMessage {
    justify-content: flex-end;
    color: white;
}

.aiMessage {
    justify-content: flex-start;
}

.messageBubble {
    padding: 3%;
    border-radius: 18px;
    max-width: 70%; /* 말풍선의 최대 너비 */
    word-wrap: break-word;
}

.userMessage .messageBubble {
    background-color: #679aff; /* 사용자 메시지의 말풍선 색상    */
}

.aiMessage .messageBubble {
    background-color: white; /* AI 메시지의 말풍선 색상 */
}

.inputContainer {
    display: flex;
    height: 6%;
    margin: 5%;
    border-radius: 25px;
    

}

.input {
    flex: 1;
    padding: 3%;
    border: none;
    border-radius: 25px 0px 0px 25px;




}

.sendButton {
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 0px 25px 25px 0px;


}

.sendIcon {
    width: 20px;  
    height: 20px;
}

.sendButton:hover {
    background-color: #d9d9d9;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    font-size: 0.8rem;


}

#aiBot{
    width: 25%;
}

.sender {
    font-weight: bold;
}





.modeButton {
    width: 25%;
    margin-left: 5%;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 0.8rem;
    transition: background-color 0.3s;
}



#modeButton{
    border-radius: 25px;
    transition: background-color 0.5s ease, font-weight 0.5s ease;


}

#modeButton:hover {
    background-color: rgb(43, 184, 235);
    font-weight: bold;
}


