.sell-button {
    margin: 1%  5% 3% 60%;
    padding: 10px 20px;
    background-color: #89d4f4;
    color: black;
    border-radius: 15%;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0.3, 0.2);

}


.animated {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    visibility: hidden;
}


.visible {
    opacity: 1 !important;
    transform: translateY(0) !important;
    visibility: visible !important;
}