.loadingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vh;
    margin: auto;
}
.images {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 3vw;
    margin-bottom: 5%;
    animation: float 3s infinite;
}

.images img{
    animation: float 3s infinite;

}



@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}


