/* RecommendStock.module.css */

.popularsector {
    text-align: center;
    margin: auto 20%;
  }

  .topgroup {
    display: flex;
    align-items: center; /* Optional: Center content vertically */
  }

  .topgroup h2 {
    margin-bottom: 2px;
  }

  .topgroup p {
    margin-bottom: 2px;
    margin-left: 320px;
  }
  
  .line {
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  /* .rectangle {
    width: 350px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    position: relative;
  } */
  



  