/* Chart.module.css */
.price-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px silver solid;
}

.content-container {
    height: 50%;
    width: 90%;
    display: flex;
    flex-direction: row;
    border: 3px silver solid;

    justify-content: space-between; /* 차트와 테이블 간의 간격을 균등하게 */
}


.chart-image {
    width: 70%;
    margin: 10px;
    border: 3px silver solid;

}

.chart-table {
    width: 30%;
    margin: 10px;
    border: 3px silver solid;


}

.ai-report {
    width: 90%;
    height: 50%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    border: 3px silver solid;

}

.compoent-header {
    display: flex;
    justify-content: space-between; /* h2와 p를 나란히 배치 */
    align-items: center;
    color: blue; /* 버팔색으로 설정 */
}

.textarea-container {
    display: flex; /* textarea와 이미지를 나란히 배치 */
    gap: 10px; /* 여백 */
}

.ai-image {
    width: 30%; /* 이미지의 크기 */
    height: auto;
    border: 1px solid #ccc; /* 이미지 경계 */
}

textarea {
    flex: 1; /* 가능한 모든 공간 차지 */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}
