/* Chart.module.css */
.price-chart {
     padding: 2%;
}

.content-container {

    display: flex;
    
    flex-direction: row;
    justify-content: space-between; /* 차트와 테이블 간의 간격을 균등하게 */
}


.TestChart {
    width: 70%;
    margin: 1%;

}

.chart-table {
    width: 30%;
    margin: 10px;


}

.ai-report {
    width: 95%;
    height: 50%;
    margin:  auto;
    display: flex;
    flex-direction: column;


}



.textarea-container {
    display: flex; /* textarea와 이미지를 나란히 배치 */
    gap: 3%; /* 여백 */

}

.ai-image {
    width: 20%; /* 이미지의 크기 */
    border: 2px solid skyblue; /* 이미지 경계 */
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0.3, 0.3);


    
}

textarea {
    flex: 1; /* 가능한 모든 공간 차지 */
    padding:2%;
    background-color: aliceblue;
    border: 2px solid skyblue; /* 이미지 경계 */
    border-radius: 5%;
    resize: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0.3, 0.3);
}




